* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: yellow;
}

div {
    height: 17vh;
    width: 100vw;
}

.gray-header {
    background-color: lightgrey;
    height: 100px;
}

.white-div {
    background-color: white;
    min-height: 150px;
    height: auto;
    padding: 40px;
}

.blue-div {
    background-color: rgb(37, 119, 212);
}

.mint-div {
    background-color: rgb(66, 216, 183);
}

.olive-div {
    background-color: rgb(164, 233, 125);
}

.yellow-div {
    background-color: rgb(248, 245, 35);
}

.blue-square {
    height: 80px;
    width: 80px;
    background-color: rgb(66, 150, 230);
    margin-top: 10px;
    margin: 10px;
    float: left;
}

p {
    background-color: white;
    color: rgb(95, 95, 95);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;
    font-size: 15pt;
    line-height: 20pt;
}